/* ====NORMOLIZING STYLES=================== */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}
a {
  color: inherit;
  text-decoration: none;
  display: block;
}
img {
  display: block;
}
button {
  cursor: pointer;
  display: block;
  border: none;
}

/* ====MAIN STYLES========================= */
body {
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  background-color: #ffffff;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.title {
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
}
.subtitle {
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0.02em;
  line-height: 1.2;
  color: #2e2f42;
}
.container {
  width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}
.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

/* ====HEADER============================= */

.header {
  color: #2e2f42;
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.header a {
  padding: 24px 0;
}
.header_container {
  display: flex;
  justify-content: space-between;
}
.header_navigation {
  display: flex;
  align-items: center;
}
.header_logo {
  margin-right: 76px;
}
.header_navigation_list {
  display: flex;
  gap: 40px;
}
.header_logo_span {
  color: #2e2f42;
}
.navigation_list_link {
  font-weight: 500;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.current {
  position: relative;
  color: #404bbf;
}
.current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  background-color: #404bbf;
  border-radius: 2px;
  height: 4px;
  width: 100%;
}
.header_address {
  font-style: normal;
}
.header_address_list {
  display: flex;
  gap: 40px;
}
.address_list_link {
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.navigation_list_link:hover,
.navigation_list_link:focus,
.address_list_link:hover,
.address_list_link:focus {
  color: #404bbf;
}

/* ====1-HERO=============================== */
.hero {
  background-color: #2e2f42;
  max-width: 1440px;
  margin: 0 auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero/people-office.jpg);
}

.hero_container {
  position: relative;
  z-index: 20;
  padding: 188px 0;
}

.hero_title {
  margin: 0 auto;
  max-width: 496px;
  font-size: 56px;
  line-height: 1.07;
  font-weight: 700;
  letter-spacing: 0.02em;
  text-align: center;
  color: #ffffff;
}
.hero .hero_button {
  transition: background-color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  margin: 48px auto 0;
  padding: 16px 32px;
  min-width: 169px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: #4d5ae5;
  border-radius: 4px;
}

.hero_button:hover,
.hero_button:focus {
  background-color: #404bbf;
}

/* ====2-BENEFITS============================ */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.benefits_list {
  display: flex;
  gap: 24px;
}
.benefits_list_picture {
  background-color: #f4f4fd;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 112px;
  margin-bottom: 8px;
}
.benefits_list_icon {
  margin: 24px 100px;
}

.benefits_item_title {
  margin-bottom: 8px;
}

.benefits_list_item {
  max-width: 264px;
}

/*====3-TEAM================================  */
.team {
  background: #f4f4fd;
}
.team_title {
  line-height: 1.11;
  letter-spacing: 0.02em;
  margin-bottom: 72px;
}
.team_list {
  display: flex;
  gap: 24px;
}
.team_list_item {
  background: #ffffff;
  width: calc((100%-72px) / 4);
  border-radius: 0 0 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team_list_item:hover {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.team_item_container {
  padding: 32px 0px;
  text-align: center;
}
.team_item_title {
  letter-spacing: 0.02em;
}
.team_item_text {
  margin: 8px 0;
}
.team_item_social {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.team_item_link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
  padding: 12px;
  line-height: 1;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team_item_link:hover,
.team_item_link:focus {
  background-color: #404bbf;
}
.team_item_icon {
  fill: #f4f4fd;
}
/* ====4-PORTFOLIO=========================== */
.portfolio_title {
  line-height: 1.11;
  margin-bottom: 72px;
}
.portfolio_list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
.portfolio_list_item {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio_list_item:hover {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.portfolio_item_wrapper {
  position: relative;
  overflow: hidden;
}
.portfolio_overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 40px 32px;
  overflow: auto;
  color: #f4f4fd;
  background: #4d5ae5;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio_list_item:hover .portfolio_overlay {
  transform: translateY(0%);
}
.portfolio_item_container {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: 0;
}

.portfolio_item_title {
  margin-bottom: 8px;
}

/* ====FOOTER============================== */
.footer {
  background: #2e2f42;
  color: #f4f4fd;
  padding: 100px 0;
}
.footer_container {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
}
.footer_text_wrapper {
  margin-right: 120px;
}
.footer_logo {
  margin-bottom: 16px;
  display: inline-block;
}
.footer_logo_span {
  color: #f4f4fd;
}
.footer_text {
  width: 264px;
}
.footer_social_wrapper {
  margin-right: auto;
}
.footer_social_text {
  font-weight: 500;
  color: #ffffff;
  margin-bottom: 16px;
}
.footer_item_social {
  display: flex;
  gap: 16px;
}
.footer_item_link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
  padding: 8px;
  line-height: 1;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer_item_link:hover,
.footer_item_link:focus {
  background-color: #31d0aa;
}
.footer_item_icon {
  fill: #f4f4fd;
}
.footer_form_title {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
}
.footer_form {
  display: flex;
  gap: 24px;
}
.footer_imput {
  background: transparent;
  border: 1px solid #ffffff;
  border-radius: 4px;
  width: 264px;
  height: 40px;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #ffffff;
  padding: 8px 16px;

  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}
.footer_submit_btn {
  border-radius: 4px;
  min-width: 165px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  background: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  transition: background-color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}
.footer_submit_btn:hover {
  background-color: #404bbf;
}
.submit_footer_btn_icon {
  fill: #ffffff;
  margin-left: 16px;
}
/* ===BACKDROP===================== */
.backdrop {
  position: fixed;
  left: O;
  top: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  opacity: 0;
  visibility: hidden;
  position: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 408px;
  min-height: 584px;
  background-color: #fcfcfc;
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 24px 24px 24px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}
.modal_close_btn {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  padding: 0%;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #e7e9fc;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal_close_btn:hover,
.modal_close_btn:focus {
  background-color: #404bbf;
  border: none;
}
.modal_close_btn_icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal_close_btn:hover > .modal_close_btn_icon,
.modal_close_btn:focus > .modal_close_btn_icon {
  fill: #fff;
}
.review_form_description {
  max-width: 360px;
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}
.review_form_field_wrapper {
  margin-bottom: 8px;
}
.review_form_field_another_wrapper {
  margin-bottom: 16px;
}
.review_form_field_label {
  display: block;
  font-size: 12px;
  margin-bottom: 4px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.review_form_input_wrapper {
  position: relative;
}
.review_form_input {
  border-radius: 4px;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  padding-left: 38px;
  background-color: transparent;
  outline: transparent;
  /* border-color: transparent; */
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.review_form_input:focus {
  border-color: #4d5ae5;
  outline: transparent;
}

.review_form_field_icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.review_form_input:focus + .review_form_field_icon {
  fill: #4d5ae5;
}
.review_form_message {
  display: block;
  border: 1px solid rgba(46, 47, 66, 0.4);
  color: rgba(46, 47, 66, 0.4);
  outline: transparent;
  border-radius: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  width: 100%;
  height: 120px;
  background-color: transparent;
  resize: none;
  padding: 8px 16px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.review_form_message:focus {
  border-color: #4d5ae5;
  outline: transparent;
}
.review_form_message::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}
.review_form_checkbox_wrapper {
  margin-bottom: 24px;
}

.review_form_checkbox_label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}
.review_form_own_checkbox {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  fill: transparent;
  border: 1px solid rgba(46, 47, 66, 0.4);
  cursor: pointer;
  margin-right: 8px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.review_form_checkbox:checked
  + .review_form_checkbox_label
  > .review_form_own_checkbox {
  background-color: #404bbf;
  fill: #f4f4fd;
  border: none;
}

.privacy_policy_link {
  color: #4d5ae5;
  text-decoration: underline;
  display: inline-block;
}
.review_form_submit {
  min-width: 169px;
  height: 56px;
  font-weight: 500;
  font-size: 16px;
  margin: 0 auto;
  border-radius: 4px;
  padding: 16px 32px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #4d5ae5;
  color: #ffffff;
  line-height: 1.5;
  letter-spacing: 0.04em;
  transition: background-color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}
.review_form_submit:hover {
  background-color: #404bbf;
}
